body {
      font: 20px Ubuntu, sans-serif;
      line-height: 1.8;
      color: #f5f6f7;
  }
  p 
  {
    font-size: 16px;
    font-family: Vollkorn;
    margin-left: 60px;
    margin-right: 30px;
    text-align: justify;
  }
  .margin 
  {
    margin-bottom: 45px;
    color: black;
    font-size: 30px;
  }
  .bg-1 { 
      background-color: white; /* Green */
      color: black;
  }
  .bg-2 { 
      background-color: #474e5d; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 { 
      background-color: #ffffff; /* White */
      color: #555555;
  }
  .bg-4 { 
      background-color: #2f2f2f; /* Black Gray */
      color: #fff;
  }
  .container-fluid {
      padding-top: 70px;
      padding-bottom: 70px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
      background-color:#C13832;
  }
  .navbar-nav  li a:hover {
      color: orange !important;
  }

  #leftNavbar
  {
    
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    font-weight: 700;
    letter-spacing:0.75px;
    color: orange;

  }
